#landing {
  height: 800px;
  background-attachment: fixed;
  background-image: url('https://d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png');
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3em;
  font-family: 'Montserrat';
}
